/* Color palette */
:root {
    --color-primary: #8AB0AB; /* Main color */
    --color-secondary: #3E505B; /* Darker secondary */
    --color-accent: #26413C; /* Accent */
    --color-dark: #1A1D1A; /* Background dark */
    --color-darker: #03120E; /* Even darker for contrast */
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-dark);
    color: var(--color-primary);
    line-height: 1.6;
    padding-left: 20px;
    text-align: left;
}

header {
    background-color: var(--color-darker);
    padding: 1rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo h1 {
    color: var(--color-primary);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

nav ul li a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem; /* Add padding for better click area */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

nav ul li a:hover {
    background-color: var(--color-secondary); /* Add hover effect */
    color: var(--color-accent);
}

#hero {
    text-align: left;
    padding: 2rem;
    background-color: var(--color-secondary);
}

#hero h2 {
    font-size: 2.5rem;
    color: var(--color-primary);
}

#hero p {
    font-size: 1.2rem;
    color: var(--color-primary);
}

section {
    padding: 2rem;
    text-align: left;
}

#about, #projects, #contact {
    background-color: var(--color-dark);
    color: var(--color-primary);
    margin: 1rem 0;
    border-radius: 10px; /* Add rounded corners */
}

h2 {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-card {
    background-color: var(--color-secondary);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    transition: transform 0.3s; /* Smooth hover effect */
}

.project-card:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.project-card h3 {
    color: var(--color-accent);
    margin-bottom: 0.5rem;
}

footer {
    text-align: left;
    padding: 1rem;
    background-color: var(--color-darker);
    color: var(--color-primary);
}
