:root {
    --backgroundColour: #1A1A1A;
    --mainColour: #45A29E;
    --dark-text: #1A1A1A;
    --text-color-light: #888;
}
html {
    font-size: 90%; 
}
/* Index page albums*/
#featuredAlbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 -10px;
}

.albumCard {
    width: calc((100% / 3) - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.albumCard img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.albumCard h3 {
    color: var(--mainColour);
    margin-top: 10px;
}

.albumCard p {
    color: #888;
}

.albumCard a {
    color: var(--mainColour);
    text-decoration: underline;
}

.songsTable {
    flex: 1;
    margin: 10px;
    text-align: left;
    background-color: var(--backgroundColour);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--mainColour);
    border-radius: 5px;
}

.albumsContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.albumDetails {
    flex: 0 0 calc(33.333% - 40px);
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--backgroundColour);
    padding: 15px;
    border: 1px solid var(--mainColour);
    border-radius: 5px;
    max-width: calc(33.333% - 120px);
    position: relative;
    overflow: hidden;
}

.songList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    width: 100%;
    box-sizing: border-box; 
    z-index: 100;
}


.individualDetails {
    flex: 1;
    margin: 10px;
    text-align: left;
    background-color: var(--backgroundColour);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--mainColour);
    border-radius: 5px;
}

.albumDetails img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.albumDetails h3 {
    color: var(--mainColour);
    margin-top: 10px;
}

.albumDetails p {
    color: var(--text-color-light);
}

.albumDetails a {
    color: var(--mainColour);
    text-decoration: underline;
}

.albumSongs {
    flex: 1;
    margin: 10px;
    text-align: left;
    background-color: var(--backgroundColour);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--mainColour);
    border-radius: 5px;
}

.albumSongs img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.albumSongs h3 {
    color: var(--mainColour);
    margin-top: 10px;
}

.albumSongs p {
    color: var(--text-color-light);
}

.albumSongs a {
    color: var(--mainColour);
    text-decoration: underline;
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mainColour);
    color: var(--backgroundColour);
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50%;
    z-index: 1000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prevAlbum {
    left: 20px;
}

#nextAlbum {
    right: 20px;
}

.arrow:hover {
    cursor: pointer;
    background-color: darken(var(--mainColour), 10%);
}


.favorite-star {
    position: absolute;
    top: 0px; 
    left: 10px;
    color: gold;
    font-size: 24px;
    z-index: 10;
}