:root {
    --color-1: #2471a3; /* Dark Blue */
    --color-2: #1D4E89; /* Medium Blue */
    --color-3: #A3D6E7; /* Light Blue */
    --color-4: #E1F5FE; /* Very Light Cyan */
    --color-5: #5dade2; /* Mustard Yellow */
    --color-6: #2A2D34; /* Dark Gray */

    /* Mapped colors */
    --color-primary: var(--color-1); /* Text */
    --color-secondary: var(--color-2); /* Hero and select box */
    --color-accent: var(--color-3); /* Text for select box */
    --color-dark: var(--color-4); /* Background */
    --color-darker: var(--color-6); /* Footer */
    --color-links: var(--color-5); /* Links */
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-secondary); /* Corrected with var() */
    border: 1px solid var(--color-accent);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.photo-card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.photo-card p {
    text-align: center;
    font-size: 1.1em;
    color: var(--color-dark);
}

.photo-card .text-container {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .photo-card {
        max-width: 100%;
    }
}
