:root {
    --color-1: #ECE7E2;
    --color-2: #9eaa9d;
    --color-3: #779283;
    --color-4: #627f73;
    --color-5: #4A7766;

    /* Mapped colors */
    --color-primary: var(--color-2);/* Text */
    --color-secondary: var(--color-4); /* Hero and select box*/
    --color-accent: var(--color-3); /* Text for select box*/
    --color-dark: var(--color-3); /*Background */
    --color-darker: var(--color-5); /*Footer */
}


.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-secondary); /* Corrected with var() */
    border: 1px solid var(--color-accent);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.photo-card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.photo-card p {
    text-align: center;
    font-size: 1.1em;
    color: var(--color-dark);
}

.photo-card .text-container {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .photo-card {
        max-width: 100%;
    }
}
