:root {
    --color-dark-taupe: #4b4237;
    --color-goldenrod: #d5a021;
    --color-light-gold: #e1c47d;
    --color-light-beige: #ede7d9;
    --color-warm-gray: #c9bfb7;
    --color-soft-mauve: #a49694;
    --color-warm-gray-brown: #736b60;
    --color-muted-taupe: #80786e;
    --color-soft-taupe: #8c847b;

    /* Additional variables for your existing color setup */
    --color-dark: var(--color-dark-taupe);
    --color-primary: var(--color-light-beige);
    --color-secondary: var(--color-warm-gray);
    --color-accent: var(--color-goldenrod);
    --color-darker: var(--color-warm-gray-brown);
}


.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-secondary); /* Corrected with var() */
    border: 1px solid var(--color-accent);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.photo-card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.photo-card p {
    text-align: center;
    font-size: 1.1em;
    color: var(--color-dark);
}

.photo-card .text-container {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .photo-card {
        max-width: 100%;
    }
}
