/* Color palette */
:root {
    --color-dark-taupe: #4b4237;
    --color-goldenrod: #d5a021;
    --color-light-gold: #e1c47d;
    --color-light-beige: #ede7d9;
    --color-warm-gray: #c9bfb7;
    --color-soft-mauve: #a49694;
    --color-warm-gray-brown: #736b60;
    --color-muted-taupe: #80786e;
    --color-soft-taupe: #8c847b;

    /* Additional variables for your existing color setup */
    --color-dark: var(--color-dark-taupe);
    --color-primary: var(--color-light-beige);
    --color-secondary: var(--color-warm-gray);
    --color-accent: var(--color-goldenrod);
    --color-darker: var(--color-warm-gray-brown);
}


/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-dark);
    color: var(--color-primary);
    line-height: 1.6;
}

img {
    width: 80%;
    height: auto;
    max-width: 700px;
}

/* Remove the left gap */
header {
    background-color: var(--color-darker);
    padding: 1rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo h1 {
    color: var(--color-primary);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

nav ul li a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: var(--color-accent);
    transform: scale(0.95);
}

main {
    padding-left: 0;
}

#hero {
    text-align: left;
    padding: 2rem;
    background-color: var(--color-secondary);
}

#hero h2 {
    font-size: 2.5rem;
    color: var(--color-primary);
}

#hero p {
    font-size: 1.2rem;
    color: var(--color-primary);
}

section {
    padding: 2rem;
    text-align: left;
    width: 100%;
}

#about, #projects, #contact {
    background-color: var(--color-dark);
    color: var(--color-primary);
    margin: 1rem 0;
    border-radius: 10px;
}

h2 {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Ensure that the link does not affect the card’s appearance */
.project-card-link {
    text-decoration: none;
    color: inherit;
}

.project-card {
    background-color: var(--color-secondary);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(0.95);
}

.project-card h3 {
    color: var(--color-accent);
    margin-bottom: 0.5rem;
}

footer {
    text-align: left;
    padding: 1rem;
    background-color: var(--color-darker);
    color: var(--color-primary);
}
